<div class="container">
  <form #commentForm="ngForm" id="editForm" (ngSubmit)="addComment(commentForm); commentForm.reset()">
    <div class="form-group">
      <h1 class="text-center text-primary">Add Comment</h1>
      <div class="input-group-prepend">
        <input type="text" #comment class="form-control" placeholder="Add..." name="comment" ngModel>
        <span class="input-group-text" (click)="addComment(commentForm)"><i class="material-icons">add</i></span>
      </div>
      <div class="data">
        <ul class="list-instyled">
          <li *ngFor="let comment of commentArray | myfilter:-1 ">{{comment.text}}
            <i (click)="addComment(commentForm, comment.key)" class="material-icons"> add </i>
            <i (click)="deleteItem(comment)" class="material-icons">delete </i>
            <ul class="list-instyled">
              <li *ngFor="let subcomment of commentArray | myfilter:comment.key ">{{subcomment.text}}
                <i (click)="addComment(commentForm,comment.key)" class="material-icons"> add </i>
                <i (click)="deleteItem(subcomment)" class="material-icons">delete </i>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
